In [28]:
import pandas as pd
import numpy

In [4]:
m_pull_df=pd.read_csv("m_pull.csv")

In [10]:
df2 = m_pull_df.set_index("rep", drop = False)

In [21]:
df2.loc[df2["rep"] == 15]

,rep,17,18,19,20,21,22,23,24,25,...,42,43,44,45,46,47,48,49,50,51
rep,,,,,,,,,,,,,,,,,,,,,
15,15,81.0,81.0,81.0,81.0,73.0,73.0,73.0,73.0,73.0,...,80.0,80.0,80.0,80.0,84.0,84.0,84.0,84.0,84.0,88.0

In [23]:
df2.loc[df2["rep"] == 15,"20"]

rep
15    81.0
Name: 20, dtype: float64

In [31]:
pullup_score = df2.loc[df2["rep"] == 15,"20"].values[0]
pullup_score

81.0